@import '../vars';
@import '../mixins';
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .4);
    z-index: 100;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    &--active{
        display: flex;
    }
    &__dialog{
        padding: 42px 50px 56px;
        width: 1200px;
        max-width: 100%;
        background-color: $gray;
        max-height: 100vh;
        overflow-y: auto;
        position: relative;
        margin: 20px 0 0;
    }
    &__close{
        position: absolute;
        top: 15.5px;
        right: 15.5px;
    }
}

@media screen and (max-width: 992px){
    .modal{
        &__dialog{
            width: 100%;
            padding: 65px 22px 0px;
        }
        &__close{
            top: 68.5px;
        }
        .calc__form{
            padding-bottom: 90px;
        }
    }
}
