@import "../vars";
.catalog-page{
  padding-bottom: 65.5px;
  overflow: hidden;
  .catalog__items{
    margin-top: -20px;
  }
}

.catalog-advantages{
  padding: 43px 36px;
  background-color: $gray;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
  @media screen and (min-width: 1150px){
    .info__item:nth-child(2){
      padding-left: 30px;
    }
  }
}

.key-advantages{
  margin-top: 71px;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 22px));
  gap: 54px 44px;
  &__title{
    span{
      color: $primary;
    }
  }
  &__text{
    margin-top: 20px;
  }
}

@media screen and (max-width: 1150px){
  .catalog-advantages{
    grid-template-columns: repeat(2, 1fr);
  }
  .key-advantages{
    gap: 31px;
  }
}

@media screen and (max-width: 992px){
  .catalog-page{
    padding-bottom: 50px;
    .catalog__items{
      margin-top: 0px;
    }
  }

  .catalog-advantages{
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 38px 20px;
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .key-advantages{
    margin-top: 49px;
    grid-template-columns: 100%;
    &__title{
      font-size: 18px;
      line-height: 133%;
    }
    &__text{
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 350px){
  .catalog-advantages{
    width: calc(100% + 20px);
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

