@import "_header";
@import "_footer";
html {
  width: 100%;
}

body {
  font-family: $font1;
  font-weight: 400;
  color: $black;
  &.fixed-body {
    overflow-y: hidden;
    height: 100vh;
    .wrapper{
      height: 100vh;
      max-height: 100vh;
      overflow: hidden;
    }
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 186px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 992px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 350px) {
    padding: 0 10px;
  }
}

@media screen and (max-width: 992px){
  .wrapper{
    padding-top: 102px;
  }
}
