<div class="modal" id="calcModal" aria-hidden="true">
    <div class="modal__dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="14.849" height="14.849" viewBox="0 0 14.849 14.849">
                <g transform="translate(-2784.146 -7309.146)">
                    <line x2="20" transform="translate(2784.5 7309.5) rotate(45)" fill="none" stroke="#c3c3c3" stroke-width="1"/>
                    <line x2="20" transform="translate(2784.5 7323.642) rotate(-45)" fill="none" stroke="#c3c3c3" stroke-width="1"/>
                </g>
            </svg>
        </button>

        @@include('page-blocks/_calc.html')

    </div>
</div>


<!-- <div class="modal-backdrop show"></div> -->
