

<div class="catalog-card">
    @@include('../cards/_catalog-card.html',{"img":"catalog","title":"Пассажирские </br> лифты", "new":"false"})
</div>
<div class="catalog-card">
    @@include('../cards/_catalog-card.html',{"img":"catalog2","title":"Панорамные </br> лифты", "new":"false"})
</div>
<div class="catalog-card">
    @@include('../cards/_catalog-card.html',{"img":"catalog3","title":"Больничные </br> лифты", "new":"false"})
</div>
<div class="catalog-card">
    @@include('../cards/_catalog-card.html',{"img":"catalog4","title":"Грузопассажирские </br> лифты", "new":"false"})
</div>
<div class="catalog-card">
    <div class="catalog-card__top">
        <div class="catalog-card__img">
            <img src="img/catalog5.webp" alt="">
        </div>
        <div class="catalog-card__badge">Скоро в продаже</div>
    </div>
    <div class="catalog-card__title display3">Эскалаторы </br> и траволаторы</div>
</div>
