<div class="container">
    <div class="footer__top">
        <div class="footer__left">
            <a href="" class="footer__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="footer__contacts">
                <a href="tel:+74952553707" class="footer__phone">+7 (495) 255-37-07</a>
                <a href="mailto:info@sanyolift.ru" class="footer__mail">info@sanyolift.ru</a>
            </div>
        </div>
        <div class="footer__right">
            <nav class="footer-nav">
                <a href="" class="footer-nav__link nav__link--active">О компании</a>
                <a href="" class="footer-nav__link">Каталог лифтов</a>
                <a href="" class="footer-nav__link">Сервис и запчасти</a>
                <a href="" class="footer-nav__link">Контакты</a>
            </nav>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">
            © 2022 г. <span>SANYO</span> - ELEVATORS AND ESCALATORS
        </div>
        <div class="footer__by">
            <a href="">Создание сайта</a>
            LogicStudio.Ru
        </div>
    </div>
</div>
