@import 'vars';
@import 'components/_text.scss';
@import 'components/_buttons.scss';
@import 'components/_fonts.scss';
.fg {
    position: relative;
    select,
    textarea,
    input {
        border-radius: 2px;
        border: 1px solid rgba(#184797, .21);
        padding: 0 10px;
        height: 47px;
        width: 100%;
        font-size: 16px;
        background-color: transparent;
        color: $black;
        &:focus{
            border-color: rgba(#184797, .6);
        }
    }
    textarea{
        height: 97px;
        resize: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-image: url(../img/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 15.5px center;
        color: #888888;
        &::-ms-expand {
            display: none; // IE
        }
        &:focus{
            color: $black;
        }
    }
    .select--active{
        color: $black;
    }
    label{
        display: block;
        font-size: 16px;
        line-height: 162.5%;
        font-weight: 700;
        margin-bottom: 11px;
    }
}

.check {
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                background-color: $primary;
                background-image: url(../img/check.svg);
            }
        }
    }
    label {
        padding-left: 36px;
        position: relative;
        min-height: 20px;
        font-size: 12px;
        line-height: 125%;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $gray2;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border: 1px solid $primary;
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .100s;
        }
    }
    a{
        border-bottom: 1px solid $gray2;
        position: relative;
        z-index: 3;
        &:hover{
            color: inherit;
            border-bottom: transparent;
        }
    }
}

.swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    &-bullet{
        width: 16px;
        height: 1px;
        background-color: #fff;
        border-radius: 0;
        opacity: 1;
        &-active{
            height: 3px;
            background-color: $primary;
        }
    }
}

@media screen and (max-width: 992px){
    .fg{
        label{
            font-size: 13px;
            line-height: 200%;
            margin-bottom: 9px;
        }
        select,
        input{
            font-size: 14px;
        }
    }
}
